{
  "logging": false,
  "port": 5000,
  "terminateSessionDefault": true,
  "url": "/alexa?XXXXXXXXXXXXXXXXXX",
  "intents": { "TurnOn": { "power monitor": { "topic": "alexa", "message": "received ${slots.Device.value} on" },
                           "alarm": { "topic": "house/alarm/control", "message": "arm" },
                           "living room right": { "topic": "house/x10", "message": "A,1,1" },
                           "living room left": { "topic": "house/x10", "message": "A,2,1" },
                           "dining room": { "topic": "house/x10", "message": "A,5,1" },
                           "office light": { "topic": "home/2272/200", "message": "0F0FFFFF0101" },
                           "fan hi": { "topic": "house/fan", "message": "1000,high" },
                           "fan medium": { "topic": "house/fan", "message": "1000,med" },
                           "fan low": { "topic": "house/fan", "message": "1000,low" },
                           "fanhi": { "topic": "house/fan", "message": "1000,high" },
                           "fanmedium": { "topic": "house/fan", "message": "1000,med" },
                           "fanlow": { "topic": "house/fan", "message": "1000,low" },
                           "andrew": { "topic": "home/2272", "message": "1FFFFFFF0010" }
                         },
               "TurnOff": { "power monitor": { "topic": "alexa", "message": "received ${slots.Device.value} off" },
                            "living room lights": [ { "topic": "house/x10", "message": "A,5,0" },
                                                    { "topic": "house/x10", "message": "A,1,0:1000" },
                                                    { "topic": "house/x10", "message": "A,2,0:2000" } ],
                            "living room right": { "topic": "house/x10", "message": "A,1,0" },
                            "living room left": { "topic": "house/x10", "message": "A,2,0" },
                            "dining room": { "topic": "house/x10", "message": "A,5,0" },
                            "office light": { "topic": "home/2272/200", "message": "0F0FFFFF0110" },
                            "fan": { "topic": "house/fan", "message": "1000,off" },
                            "andrew": { "topic": "home/2272", "message": "1FFFFFFF0001" }
                          },
               "Tune": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/rogers-dvr/command",
                                 "message": "${slots.Channel.value.split('').join(' ')}" } },
               "VolumeUp": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/samsung-tv/command",
                                     "message": "volume-up:${slots.Repeat.value}" },
                                     "stereo": { "topic": "home/harmony/hubs/harmony-hub/devices/insignia-av-receiver/command",
                                     "message": "volume-up:${slots.Repeat.value}" }
                           },
               "VolumeDown": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/samsung-tv/command",
                                       "message": "volume-down:${slots.Repeat.value}" },
                                       "stereo": { "topic": "home/harmony/hubs/harmony-hub/devices/insignia-av-receiver/command",
                                       "message": "volume-down:${slots.Repeat.value}" }
                             },
               "Mute": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/samsung-tv/command",
                                 "message": "mute" } },
               "Play": { "tv": { "topic": "house/dlnaplay/play",
                                 "message": "${slots.Media.value}",
                                 "responseTopic": "house/dlnaplay/response" } },
               "UnPause": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "play" } },
               "Pause": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "pause" } },
               "Stop": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "stop" } },
               "Seek": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "seek:${slots.Time.value}" } },
               "WhatsNew": { "tv": { "topic": "house/dlnaplay/control",
                                     "message": "whatsnew",
                                     "responseTopic": "house/dlnaplay/response" } },
               "Recipe": { "default": { "topic": "pdfViewer/request",
                                        "message": "${slots.RecipeNames.value}" } },
               "Call": { "default": { "topic": "sipBroker/request",
                                      "message": "${slots.Device.value.toLowerCase().replace(\" \", \"\").replace(\"'\", \"\")}",
                                      "responseTopic": "sipBroker/response" },
                         "cancel": { "topic": "sipBroker/cancel",
                                     "message": "cancel" } }
             },
  "mqtt": { "serverUrl": "mqtt:10.1.1.186:1883"
          }
}
