{
  "logging": false,
  "port": 5000,
  "terminateSessionDefault": true,
  "nossl": true,
  "url": "/alexa?XXXXXXXXXXXXXXXXXX",
  "intents": { "TurnOn": { "power monitor": { "topic": "alexa", "message": "received ${slots.Device.value} on" },
                           "alarm": { "topic": "house/alarm/control", "message": "arm" },
                           "livingroomright": { "topic": "house/x10", "message": "A,1,1" },
                           "livingroomleft": { "topic": "house/x10", "message": "A,2,1" },
                           "diningroom": { "topic": "house/x10", "message": "A,5,1" },
                           "officelight": { "topic": "home/2272/200", "message": "0F0FFFFF0101" },
                           "fanhi": { "topic": "house/fan", "message": "1000,high" },
                           "fanmedium": { "topic": "house/fan", "message": "1000,med" },
                           "fanlow": { "topic": "house/fan", "message": "1000,low" },
                           "fanhi": { "topic": "house/fan", "message": "1000,high" },
                           "fanmedium": { "topic": "house/fan", "message": "1000,med" },
                           "fanlow": { "topic": "house/fan", "message": "1000,low" },
                           "tv1": { "topic": "house/livtv", "message": "tv" },
                           "media1": { "topic": "house/livtv", "message": "mediaplayer" },
                           "video1": { "topic": "house/livtv", "message": "mediaplayer" },
                           "andrew": { "topic": "home/2272", "message": "1FFFFFFF0010" },
                           "ac": { "topic": "home/2272", "message": "0F0FFFFF0110" },
                           "bedroom": { "topic": "house/led", "message": "range 0 59 255 255 255" }
                         },
               "TurnOff": { "powermonitor": { "topic": "alexa", "message": "received ${slots.Device.value} off" },
                            "livingroomlights": [ { "topic": "house/x10", "message": "A,5,0" },
                                                  { "topic": "house/x10", "message": "A,1,0:1000" },
                                                  { "topic": "house/x10", "message": "A,2,0:2000" } ],
                            "livingroomright": { "topic": "house/x10", "message": "A,1,0" },
                            "livingroomleft": { "topic": "house/x10", "message": "A,2,0" },
                            "diningroom": { "topic": "house/x10", "message": "A,5,0" },
                            "officelight": { "topic": "home/2272/200", "message": "0F0FFFFF0110" },
                            "fan": { "topic": "house/fan", "message": "1000,off" },
                            "tv1": { "topic": "house/livtv", "message": "off" },
                            "media1": { "topic": "house/livtv", "message": "off" },
                            "video1": { "topic": "house/livtv", "message": "off" },
                            "andrew": { "topic": "home/2272", "message": "1FFFFFFF0001" },
                            "ac": { "topic": "home/2272", "message": "0F0FFFFF0101" },
                            "bedroom": { "topic": "house/led", "message": "off" }
                          },
               "Tune": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/rogers-dvr/command",
                                 "message": "${slots.Channel.value.split('').join(' ')}" } },
               "VolumeUp": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/samsung-tv/command",
                                     "message": "volume-up:${slots.Repeat.value}" },
                                     "stereo": { "topic": "home/harmony/hubs/harmony-hub/devices/insignia-av-receiver/command",
                                     "message": "volume-up:${slots.Repeat.value}" }
                           },
               "VolumeDown": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/samsung-tv/command",
                                       "message": "volume-down:${slots.Repeat.value}" },
                                       "stereo": { "topic": "home/harmony/hubs/harmony-hub/devices/insignia-av-receiver/command",
                                       "message": "volume-down:${slots.Repeat.value}" }
                             },
               "Mute": { "tv": { "topic": "home/harmony/hubs/harmony-hub/devices/samsung-tv/command",
                                 "message": "mute" } },
               "Play": { "tv": { "topic": "house/dlnaplay/play",
                                 "message": "${slots.Media.value}",
                                 "responseTopic": "house/dlnaplay/response" },
                         "tv1": { "topic": "house/dlnaplay/play",
                                 "message": "${slots.Media.value},1",
                                 "responseTopic": "house/dlnaplay/response" } },
               "UnPause": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "play" },
                            "tv1": { "topic": "house/dlnaplay/control",
                                 "message": "play,1" } },
               "Pause": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "pause" },
                          "tv1": { "topic": "house/dlnaplay/control",
                                 "message": "pause,1" } },
               "Stop": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "stop" },
                         "tv1": { "topic": "house/dlnaplay/control",
                                 "message": "stop,1" } },
               "Seek": { "tv": { "topic": "house/dlnaplay/control",
                                 "message": "seek:${slots.Time.value}" },
                         "tv1": { "topic": "house/dlnaplay/control",
                                 "message": "seek:${slots.Time.value},1" } },
               "WhatsNew": { "tv": { "topic": "house/dlnaplay/control",
                                     "message": "whatsnew",
                                     "responseTopic": "house/dlnaplay/response" } },
               "Burn": { "cheryl": { "topic": "burn/response",
                                     "message": "Cheryl is a stupid head",
                                     "responseTopic": "burn/response" },
                        "michael": { "topic": "burn/response",
                                     "message": "Why would I do that ?",
                                     "responseTopic": "burn/response" },
                        "bedroom": { "topic": "house/led",
                                     "message": "fire 75 35 70 0 59" } },
               "Recipe": { "default": { "topic": "pdfViewer/request",
                                        "message": "${slots.RecipeNames.value}" } },
               "Call": { "default": { "topic": "sipBroker/request",
                                      "message": "${slots.Device.value.toLowerCase().replace(\" \", \"\").replace(\"'\", \"\")}",
                                      "responseTopic": "sipBroker/response" },
                         "cancel": { "topic": "sipBroker/cancel",
                                     "message": "cancel" } },
               "Snap": { "cottage": { "server": "external",
                                      "topic": "house/fang4/capture",
                                      "message": "take" } }
             },
  "mqtt": { "serverUrl": "mqtt:10.1.1.186:1883"
          },
  "mqttExternal": { "serverUrl": "mqtts:relay.devrus.com:8883"
          }
}
